*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Gilroy';
}

html,body{
width: 100%;
height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 40px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: transparent; /* Ensures no background color */
}

#logo {
    width: 180px;
    height: 60px;
    background-image: url('images/sherazlogo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav a {
    text-decoration: none;
    position: relative;
}

nav #nav_sec ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
    a{
        background: linear-gradient(to right,#FCF6BA, #FBF5B7, #AA771C);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

nav #icons_sec ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 15px;
    font-size: 20px;
}

nav #icons_sec ul li {
    border-radius: 50%;
    /* border: 1px solid red; */
    width: 38px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#FCF6BA, #FBF5B7, #AA771C);
    
    i{
        color: black;
        &:hover{
            /* color: rgb(41, 41, 255); */
        color: #00C1FF;

        }
    }
}

#nav_sec ul li a::after {
    content: "";
    left: 0;
    top: 10%;
    width: 0%;
    height: 3px;
    position: absolute;
    transition: all ease 0.5s;
    background-color: #00C1FF;
    margin-top: 20px;
}

#nav_sec ul li a:hover::after {
    width: 100%;
}

/* #icons_sec ul li i:hover {
    color: #00C1FF;
} */

#main {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url('images/bg.jpg');
    background-size: cover;
}

#left_main {
    display: flex;
    flex: 1.5;
    gap: 50px;
    flex-direction: row;
    padding: 30px;
    justify-content: end;
    align-items: center;
}

.intro_div {
    display: flex;
    flex: 1.5;
    flex-direction: column;
    gap: 30px;
    align-items: end;
    margin-bottom: 50px;
}

#box1 {
    padding: 10px 20px ;
    width: 350px;
    height: 150px;
    background: linear-gradient(to left, #00c6ff, #0072ff);
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(61,138,254,0.75);
}

#box1 h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

#box1 h3 {
    text-align: center;
    span{
        font-size: 50px;
    }
}

#box2 {
    padding: 20px;
    width: 250px;
    height: 100px;
    background: linear-gradient(to top, #00c6ff, #0072ff);
    box-shadow: 10px 10px 5px 0px rgba(61,138,254,0.75);
    border-radius: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#right_main {
    display: flex;
    flex: 3;
    flex-direction: row;
    padding: 30px;
    justify-content: end;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.main_img_div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    width: 600px;
    height: 600px;
    right: 15%;
    top: 7%;
    border-radius: 50%;
    overflow: hidden;
    padding-left: 150px;
    background: linear-gradient(rgba(128, 0, 128, 0.393), blue, rgb(59, 129, 251), rgb(0, 195, 255));
}

.main_img_div img {
    width: 360px;
    object-fit: cover;
    image-rendering: optimizeQuality;
}



.media-icons{
        z-index: 888;
        position: absolute;
        right: 30px;
        display: flex;
        flex-direction: column;
        transition: 0.5s ease;
}

.media-icons a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}
.media-icons a:not(:last-child){
    margin-bottom: 20px;
}
.media-icons a:hover{
    transform: scale(1.3);
}

#fields_sec,#project_sec,#skills_sec,#testimonial_sec,#contact_sec{
    width: 100%;
    background-image: url('images/bg.jpg');
    background-size: cover;
    padding: 50px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

span{
    color: rgb(35, 35, 250);
}
#fields_sec h1{
    text-align: center;
    font-size: 40px;
}
.all_field_container{
    width: 95%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content:center;
    align-items:center;
}
#field_container{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    background: linear-gradient(to right, #24c6dc, #514a9d);
    width: 280px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}
.field_img{
    width: 240px;
    height: 200px;
}
.field_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#project_sec h1{
    text-align: start;
    font-size: 40px;
}

.all_projects_container{
    width: 95%;
    padding: 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 150px;
}
.project_container{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    width: 320px;
    height: 360px;
    background-color: rgba(212, 212, 119, 0.962);
    /* background-color: rgba(212, 212, 119, 0.596); */
    display: flex;
    justify-content:center;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}
.project_container img{
    border-radius: 10px;
}
.project_container h3{
    text-align: center;
}
#project_sec a{
    text-decoration: none;
    color: #f1eeee;
}
#project_2{
    margin-top: -80px;
}


button{
    font-weight: bold;
    padding: 10px 40px;
    font-family: cursive;
    border-radius: 20px;
    border: none;
    color: #fff;
    background: linear-gradient(to right, #24c6dc, #514a9d);
    cursor: pointer;
}


#project_3{
    margin-top: -160px;
}
#project_4{
    margin-top: -240px;
}
#project_6{
    margin-top: -80px;
}
#project_7{
    margin-top: -160px;
}
#project_8{
    margin-top: -240px;
}


#skills_sec h1{
    text-align: center;
    font-size: 40px ;
}
.all_skills{
    display: flex;
}
.skill_box{
    flex: 4;
    display: flex;
    gap: 50px;
    padding: 70px 10px 30px 50px;
    flex-wrap: wrap;
}
.skill_card{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    align-items:center;
}
.skill_card img{
    width: 60%;
    height: 60%;
    object-fit: cover;
}


.exp_box{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
#gray_heading{
    color: #444;
    /* color: #d5d5d5; */
    font-weight: bold;
    font-size: 20px;
}
.exp_box{

    h2{
        color: #fff690;
    }
    
    p{
        /* color: #333; */
        color: #d5d5d5;
        font-family: cursive;
    }
} 


#testimonial_sec h1{
    text-align: center;
    font-size: 40px ;
    margin-bottom: 20px;
}
.testimonial_container{
    width: 62%;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    gap: 10px;
    padding: 20px;
    align-items: center;
    margin-left: 260px;
}
.testimonial_card{
    display: flex;
    justify-content:center;
    gap: 20px;
    padding: 20px;
}
#left_arrow{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #edf2f898;
    font-size: 40px;
    display: flex;
    justify-content:center;
    align-items:center;
    border: 1px solid;
    cursor: pointer;
}
#right_arrow{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #edf2f898;
    font-size: 40px;
    display: flex;
    justify-content:center;
    align-items:center;
    border: 1px solid;
    cursor: pointer;
}
/* .profile_pic{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */
.profile_pic img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.text_content{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    gap: 20px;
   
}
.text_content p{
    width: 300px;
}

#social_img{
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 30px;
    margin-top: 40px;
}
#social_img img{
    width: 100px;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}
#social_img img:hover{
    transform: scale(1.2);
    filter: grayscale(0%);
}


#contact_sec h1{
    text-align: center;
    font-size: 40px;
}

#contact_form{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    gap: 20px;
  
}

textarea{
    resize: none;
    border: none;
    border-radius: 10px;
    width: 650px;
    padding: 15px 20px;
}

input{
    border: none;
    padding: 15px 20px;
    width: 650px;
    border-radius: 10px;
}
input:hover{
    box-shadow: rgba(116, 213, 176, 0.518) 0px 20px 25px -5px, rgba(70, 169, 202, 0.414) 0px 10px 10px -5px;
}
textarea:hover{
    box-shadow: rgba(116, 213, 176, 0.518) 0px 20px 25px -5px, rgba(70, 169, 202, 0.414) 0px 10px 10px -5px;
    
}
#btn_link{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
#email_btn{
    background-color: #0072ff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 20px;
    font-weight: bold;
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: 5px;
    width: 260px;
    cursor: pointer;
}
#email_btn img{
    width: 30px;
    margin-right: 5px;
}
#phone_btn{
    background-color: #00d0ff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 20px;
    font-weight: bold;
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: 5px;
    width: 260px;
    cursor: pointer;

}
#phone_btn:hover{
    box-shadow: rgba(45, 97, 227, 0.518) 0px 20px 25px -5px, rgba(11, 184, 241, 0.681) 0px 10px 10px -5px;
}
#email_btn:hover{
    box-shadow: rgba(45, 212, 227, 0.518) 0px 20px 25px -5px, rgba(11, 184, 241, 0.681) 0px 10px 10px -5px;
}
#phone_btn img{
    width: 30px;
}

h6{
    text-align: center;
    color: whitesmoke;
}

h1{
    color: white;
}
